@{
    ViewData["Title"] = "Home Page";
}

@if (TempData["resultMessage"] != null)
{
    <div id="modal1" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4 style="color:black; margin: 10px;">Mensagem</h4>
            <p style="color:black; margin-top: 80px;">@TempData["resultMessage"]</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close btn teal lighten-2 texto-branco-light">Fechar</a>
        </div>
    </div>
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
